#tabla{
    display:block;
    position:absolute;
    top:30%;
    left:20%;
    background:AntiqueWhite;
    width:650px;
    height:300px;
    padding:2em;
    font-size:20px;
}
#tabla caption{
    text-align:center;    
}
#tabla th,td{
    padding:5px;

}

#tabla th{
    background:DeepSkyBlue;
    color:dodgerblue;
    border-bottom: 1px solid #fff
}

#tabla td{
    background-color: lightskyblue;
    color:mediumpurple;
    border-bottom: 1px solid #fff; 
    border-top: 1px solid transparent; 
    text-align:center;
}
table{
    border-collapse:collapse;
}
input.boton{
    background-color:deepskyblue;
    margin:0px 15px 0px 15px;
    padding:3px;
    border-radius: 15px;
    border-color: blue;
}

p{
    font-size:15px;
    margin-top:30px;
}